<div style="background: #FFFFFF;" class="view simpleView">
	<!-- ************************************************************************ -->
	<!-- IBM Confidential                                                         -->
	<!--                                                                          -->
	<!-- OCO Source Materials                                                     -->
	<!--                                                                          -->
	<!-- IBM SPSS Analytic Catalyst                                               -->
	<!--                                                                          -->
	<!-- (C) Copyright IBM Corp. 2013                                             -->
	<!--                                                                          -->
	<!-- The source code for this program is not published or otherwise           -->
	<!-- divested of its trade secrets, irrespective of what has been deposited   -->
	<!-- with the U.S. Copyright Office.                                          -->
	<!-- ************************************************************************ -->
	<div class="appHeader" data-app-constraint="top">
		<div id="app_header"></div>
	</div>
	<span data-dojo-attach-point="helpHoverCard" data-dojo-type="com.spss.ca.desktop.widget.HoverHelpTooltip" data-dojo-props='forceFocus: false, showLearnMore:true' style="width: 200px"> 
	</span>

</div>
